[submodule "erc20-explorer"]
	url = https://github.com/gobitfly/erc20-explorer
[submodule "awesome-solidity"]
	path = awesome-solidity
	url = https://github.com/bkrem/awesome-solidity
[submodule "ethersapp"]
	path = ethersapp
	url = https://github.com/yuetloo/ethersapp
[submodule "oracles-combine-solidity"]
	path = oracles-combine-solidity
	url = https://github.com/oraclesorg/oracles-combine-solidity
